:root {
    --main-color: #000;
    --second-color: green;
    --text-color: black;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

header {
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav img {
    width: 5%;
    margin-left: 15px;
}

nav a {
    margin-right: 15px;
}

nav div a {
    padding: 0 15px;
}
