.sect-image-bg {
    background: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        url("../images/bg-bdx.JPG"),
        no-repeat scroll center center;
    background-size: cover;
    height: 96vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sect-image-bg h1 {
    color: var(--bdx-color);
}

.sect-intro-eh {
    width: 85vw;
    max-width: 800px;
    margin: 15px auto;
}

.sect-intro-eh .cta {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.sect-last-project {
    background-color: white;
}

.sect-last-project h2 {
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
}

.sect-last-project .col-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 95vw;
    max-width: 800px;
    grid-gap: 5px;
    margin: auto;
}

.img-last-project {
    max-width: 100%;
}