:root {
    --primary-color: #aeb4a9;
    --second-color: #e0c1b3;
    --third-color: #d89a9e;
    --fourth-color: #c37d92;
    --fifth-color: #846267;
    --bdx-color: #431B1F;
    --text-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: var(--primary-color);
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    text-decoration: underline var(--fifth-color);
    color: var(--fifth-color);
}

a img:hover {
    opacity: 0.5;
}

footer,
header {
    /*background-color: var(--second-color);*/
    background-color: white;
}

footer,
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer a,
nav a {
    font-size: 16px;
    font-weight: 400;
    margin: 1vh 2vw;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    /*flex: 1;*/
}

footer img,
nav img {
    width: 40px;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-contact-me {
    flex: 1;
}

h1 {
    font-size: 2em;
    color: var(--fifth-color);
    font-family: 'DM Serif Display', 'sans-serif';
}

.cta {
    display: inline-block;
    background: var(--second-color);
    font-weight: 700;
    color: white;
    border-radius: 50px;
    padding: 20px 30px;
}